@include b(site) {
	@include organism(header) {
		grid-area: header;
	}

	@include organism(main) {
		grid-area: main;
	}

	@include organism(sidebar) {
		grid-area: sidebar;
	}

	@include organism(footer) {
		grid-area: footer;
	}

	display: grid;
	min-height: 100vh;

	@include breakpoint(sm) {
		grid-template-areas:
		'header'
		'main'
		'sidebar'
		'footer';
		grid-template-columns: 100%;
		grid-template-rows: auto 1fr auto auto;
	}

	@include breakpoint(md) {
		grid-template-columns: 1fr 33.333%;
		grid-template-rows: auto 1fr auto;
		grid-template-areas:
		'header header'
		'main sidebar'
		'footer footer';
	}
}
