{
    "parser": "@babel/eslint-parser",
    "extends": ["@internetstiftelsen/eslint-config-react", "plugin:prettier/recommended"],
    "env": {
        "browser": true
    },
    "globals": {
        "VERSION": true
    }
}
