# This project
www/app/uploads
www/app/mu-plugins
www/app/languages
www/app/themes/assets/
www/wp/
www/app/db.php
mix-manifest.json

# Common
*.log
.env

# IDE
.idea

# Composer
vendor

# Node
node_modules

# Docker
.data
docker/nginx/default.conf
