# This project
www/app/uploads
www/app/mu-plugins
www/app/languages
www/app/themes/bredbandskollen/js/app.min.js
www/app/themes/bredbandskollen/css/app.css
www/wp/
www/app/db.php
mix-manifest.json

# Common
*.log
.env

# IDE
.idea

# Composer
vendor

# Node
node_modules

# Docker
.data
docker/nginx/default.conf
